.service-info {
    margin-bottom: 50px;
    position: absolute;
    bottom: 60px;
}

.service-info-details {
  font-weight: 500;
}

.fa-check {
  color: green;
  cursor: pointer;
}

.fa-times {
  color: red;
  cursor: pointer;
}

.fa-pen {
  cursor: pointer;
}