# dependencies
/node_modules
*.vscode
.env
*.DS_Store

# Coverage directory used by tools like istanbul
coverage/
*.lcov
.coveralls.yml
coverage.json

# nyc test coverage
.nyc_output
	@@ -136,4 +138,4 @@ dist
.idea/

# eth-gas-reporter output file
gasReporterOutput.json