.tester-button{
    background:#415877;
    color: white;
    margin: 12px;
    padding: 8px;
    border-radius: 8px;
}

.tester-list{
    background:#41587705;
    color: white;
    padding: 8px;      
}


h2.tester{
    padding: 8px;      
}

main.tester{
    display: flex;
    justify-content: center;
    align-content: center;
}