@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100vw 0;
    }
  }
  #animate-area {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: 100%;
    animation: animatedBackground 60s linear infinite;
    opacity: .1;
  }
 
main .wrap {
  position: relative;
  z-index: 1;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home main {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

header.home {
    box-shadow: none;
    background-color: transparent;
    display: block;
}

.home main p {
  margin-bottom: 30px;
}

.slogan {
  color: #fff;
}

.cta {
  padding: 20px 40px;
  background-color: #2563eb;
  color: #fff;
  border: 2px solid #2563eb;
  border-radius: 50px;
  display: inline-block;
  transition: 0.1s all ease-out;
}

.cta:hover {
  background-color: transparent;
  border-color: #fff;
}

.cta, nav li a {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}