.home-legislator {
    text-align: center;
    width: 70%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    min-height: 600px;
    width: 70%;
    margin-right: 2%;
}

.home-legislator-title {
    color: #1a202e;
    font-size: 40px;
}

.home-legislator-p {
    margin-top: 50px;
}

.home-legislator-logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}