{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{title}}
    {% else %}
        eco-capt-bridge
    {% endif %}
{% endblock %}

{% block content%}
    <div class="container">
        <h1>{{title}}</h1>
    </div>
    <div class="container">
        <p>
        <form method="POST">
            <div>
                <label for="serviceId">Service Id</label>
                <input type="text" class="form-control" id="serviceId" name="serviceId" placeholder="uint">
            </div>
            <br />
            <div>
                <label for="techMasterAdress">Tech Master Address</label>
                <input type="text" class="form-control" id="techMasterAdress" name="techMasterAdress" placeholder="address">
            </div>
            <br />
            <button type="submit" name="setTechMaster" class="btn btn-primary">setTechMaster</button>
        </form>
        </p>
    </div>
{% endblock %}
