{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{title}}
    {% else %}
        eco-capt-bridge
    {% endif %}
{% endblock %}

{% block content%}
    <div class="container">
        <h1>{{title}}</h1>
    </div>
    <div class="container">
        <ul>
            {% for data in capteurs %}
                <li>{{data}}</li>
            {% endfor %}
        </ul>
    </div>
    <br/>
    <div class="container">
        <p>
            <form method="POST">
                <button type="submit" name="addMeasure" class="btn btn-primary">Send Measure</button>
                <button type="submit" name="addAlert" class="btn btn-primary">Send Alert </button>
            </form>
        </p> 
    </br>
        <p>
            <form method="POST">
                <button type="submit" name="printMeasure" class="btn btn-primary">Show Measure</button>
                <button type="submit" name="printAlert" class="btn btn-primary">Show Alert </button>
            </form>
        </p>
    </div>
{% endblock %}

