{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{title}}
    {% else %}
        eco-capt-bridge
    {% endif %}
{% endblock %}

{% block content%}
    <div class="container">
        <h1>{{title}}</h1>
    </div>
    <br/>
    <div class="container">
        <h4>Add Data To Database</h4>
        <form method="POST">
            <input type="text" name="temperature" placeholder="temperature">
            <input type="text" name="humidity" placeholder="humidity">
            <br><br/>
            <input type="text" name="timestamp" placeholder="timestamp">
            <input type="text" name="_serviceId" placeholder="_serviceId">
            <br><br/>
            <input type="submit" name="add_to_db" class="btn btn-secondary">
        </form>
    </div>
    <br/>
    <div class="container">
        <h4>Clear All Database</h4>
        <form method="POST">
            <input type="submit" name="clear_db" value="Clear Database" class="btn btn-secondary">
        </form>
    </div>
    <br/>
    <div class="container">
        <h4>Data Added</h4>
        <ul>
            {% for data in sensors_data %}
                <li>
                    Temperature : {{data.temperature}}
                    Humitidity : {{data.humidity}} 
                    Timestamp : {{data.timestamp}}
            </li>
            {% endfor %}
        </ul>
        <br/>
    </div>
    <br/>
{% endblock %}