.form-newservice-body {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    position: relative;
}

.form-newservice-body input {
    border: 1px solid black;
    border-radius: 3px;
}

.form-newservice-label {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px;
}

#form-service-cta {
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #2563eb;
    color: #fff;
    border: 2px solid #2563eb;
    border-radius: 30px;
    display: inline-block;
    transition: 0.1s all ease-out;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
}

.form-service-close {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

#frequency {
    text-align: center;
}

#newServiceDescription {
    text-align: center;
}

#select-option {
    text-align: end;
}