header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  position: fixed;
  left: 280px;
  width: calc(100% - 280px);
  top: 0;
  z-index: 20;
  background: #fff;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
  transition: left 300ms;
}

.menu-toggle label{
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  font-size: 24px;
  border-radius: 50%;
}

.header-icons span {
  display: inline-block;
  margin-left: 11px;
  font-size: 22px;
}

.menu-toggle label:hover{
  background: #f1f5f9;
}

.main-flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: #f1f5f9;
}

.main-content {
  margin-left: 280px;
  transition: margin-left 300ms;
}

.main-client {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header-title {
  color: #1a202e;
  font-size: 40px;
  margin-bottom: 30px;
}

.page-header p {
  margin: 20px;
}

.address-color {
  color: #2277ff;
}

.page-header-cta {
  padding: 10px 40px;
  background-color: #2563eb;
  color: #fff;
  border: 2px solid #2563eb;
  border-radius: 50px;
  display: inline-block;
  transition: 0.1s all ease-out;
  cursor: pointer;
}

.header-actions button {
  color: #fff;
  background: #2277ff;
  border: none;
  padding: 10px 16px;
  margin-left: 16px;
  border-radius: 3px;
  font-weight: 600;
}

.header-actions button span {
  font-size: 20px;
  margin-right: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-top: 32px;
}

@media only screen and (max-width: 1124px) {
  header {
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .page-header {
    display: block;
  }
  .header-actions {
    margin-top: 20px;
    text-align: right;
  }
  .header-actions button:first-child {
    margin-left: 0px;
  }
}